/* RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color:rgba(0, 0, 0, 0.75)
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body{
  background: #f8f9fa;
}
#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.flex-row{
  display: flex;
  align-items: center;
}

.store-container {
  margin: 20px auto;
  width: 100%;
  display: flex;
  gap: 20px;
}

.items-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-card {
  background: #FFF;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  max-width: 100%;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.item-card:hover {
  transform: translateY(-2px);
}

.item-card h3 {
  margin: 0;
  color: #333;
  font-size: 1.2em;
}

.item-card-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 255, 255);
  font-size: 3rem;
  color:rgba(16, 37, 37, 0.5))
}
.item-card-content {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;

}
.price-container{
  text-align: left;
}

.item-price{
  font-size: 1.55rem;
  font-weight: bold;
}

.special-offer{
  font-size: 1.1rem;
  font-style: italic;
  color:rgba(0, 0, 0, 0.5)
}

.button{
  height: 40px;
  align-self: flex-end;
}





.basket-container {
  background: white;
  border-radius: 8px;
  width: 230px;
  padding: 20px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: fit-content;
}
.quantity-controls {
  /* background-color: #3FCFAF; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-item-info span{
  font-size: 1.25rem;
}
.basket-item span{
  font-size: 1.05rem;
}
.basket-item{
  margin: 20px 0 0 0;
  padding: 10px 0;
  /* background-color: #f8f9fa; */
}
.basket-items, .empty{
  padding: 10px 0;
}
.total {
  margin: 20px 0 0 0;
}
.bold{
  font-weight: 700;
}