body{
  background: #f8f9fa;
}
#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.flex-row{
  display: flex;
  align-items: center;
}

.store-container {
  margin: 20px auto;
  width: 100%;
  display: flex;
  gap: 20px;
}

.items-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-card {
  background: #FF9F0F;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  width: 100%;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.item-card:hover {
  transform: translateY(-2px);
}

.item-card h3 {
  margin: 0;
  color: #333;
  font-size: 1.2em;
}

.item-card-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}
.item-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.button{
  height: 40px;
  align-self: flex-end;
}





.basket-container {
  background: white;
  border-radius: 8px;
  width: 230px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: fit-content;
}
